In [1]:
from utils import read_jsonl_file, read_tsv_file, write_jsonl_file
import pandas as pd
import json

In [2]:
# data = read_jsonl_file("/data/env/lib/repos/sheshansh/bird-sql/debug.jsonl")
data1 = read_jsonl_file("/data/env/lib/repos/sheshansh/bird-sql/debug1.jsonl")

In [3]:
# data = pd.DataFrame(data)
data1 = pd.DataFrame(data1)

In [4]:
# (data['predicted_sql'] == data1['predicted_sql']).sum() / len(data) * 100
# (data['predicted_sql'] == data1['predicted_sql']).sum() / len(data) * 100

In [6]:
# print((data['evaluation'] != data['evaluation_old']).sum() / len(data) * 100)
print((data1['evaluation'] != data1['evaluation_old']).sum() / len(data1) * 100)
# print((data['evaluation'] != data1['evaluation']).sum() / len(data) * 100)
# print((data['evaluation_old'] != data1['evaluation_old']).sum() / len(data) * 100)

0.5215123859191656

In [7]:
# create a new df with data['evaluation'], data['evaluation_old'], data1['evaluation'], data1['evaluation_old']
# df = pd.DataFrame({'evaluation': data['evaluation'], 'evaluation_old': data['evaluation_old'], 'evaluation1': data1['evaluation'], 'evaluation_old1': data1['evaluation_old']})
df = pd.DataFrame({'evaluation1': data1['evaluation'], 'evaluation_old1': data1['evaluation_old']})
df

          evaluation1  evaluation_old1
0       pass: correct    pass: correct
1     pass: incorrect  pass: incorrect
2       pass: correct    pass: correct
3       pass: correct    pass: correct
4       pass: correct    pass: correct
...               ...              ...
1529  pass: incorrect  pass: incorrect
1530  pass: incorrect  pass: incorrect
1531  pass: incorrect  pass: incorrect
1532    pass: correct    pass: correct
1533    pass: correct    pass: correct

[1534 rows x 2 columns]

In [8]:
(df[df['evaluation1'] != df['evaluation_old1']])
# (df[df['evaluation_old'] != df['evaluation_old1']])

         evaluation1  evaluation_old1
259  pass: incorrect    pass: correct
273    pass: correct  pass: incorrect
411   error: <error>             None
518   error: <error>             None
519   error: <error>             None
534    pass: correct  pass: incorrect
581   error: <error>             None
701   error: <error>             None

In [12]:
# (df[data['evaluation'] != data['evaluation_old']]).groupby(['evaluation', 'evaluation_old']).count()
# (df[df['evaluation'] != df['evaluation_old']]).groupby(['evaluation', 'evaluation_old']).count()
# (df[df['evaluation1'] != df['evaluation_old1']]).groupby(['evaluation1', 'evaluation_old1']).count()
(df[df['evaluation1'] != df['evaluation_old1']]).groupby(['evaluation1', 'evaluation_old1']).agg({'evaluation_old1': 'count'})

                                 evaluation_old1
evaluation1     evaluation_old1
pass: correct   pass: incorrect                2
pass: incorrect pass: correct                  1

In [15]:
(data['evaluation'] != data['evaluation_old']).sum() / len(data) * 100

0.651890482398957

In [52]:
res_cache = json.load(open("/data/env/lib/repos/sheshansh/bird-sql/output_seed314159/with_results/sql_results_cache.json"))

In [53]:
data_gen = read_jsonl_file("/data/env/lib/repos/sheshansh/bird-sql/output_seed314159/generations/data_gen.jsonl")

In [60]:
data_with_results = read_jsonl_file("/data/env/lib/repos/sheshansh/bird-sql/output_seed314159/with_results/data_with_results.jsonl")

In [61]:
sqls = set()
for datum in data_gen:
    for sql in datum['responses']:
        sqls.add((datum['question_id'], sql))
print(len(sqls))

275291

In [62]:
sqls = set()
for datum in data_with_results:
    for sql in datum['responses']:
        sqls.add((datum['question_id'], sql))
print(len(sqls))

275291

In [59]:
print(len(res_cache))

274608